Source: poof2
Section: unknown
Priority: optional
Maintainer: Augusto Beiro <abeiro@activasistemas.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1

Package: poof2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
